/**
 *	Globals
 */

*{
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
  margin: 0;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

hr{
	border: none;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

p{
	margin: 0;
}

button{
  cursor: pointer;
}
