// Breakpoint mixin
@mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: $bp-large) { @content; }
  }
   @else if $point == medium {
    @media (max-width: $bp-medium) { @content; }
  }
  @else if $point == small {
    @media (max-width: $bp-small) { @content; }
  }
}

// Font weight utils
.u-bold {
  font-weight: bold;
}
.u-normal {
  font-weight: normal;
}

// Custom styling utils
.u-outline {
  outline: 2px solid $cl-text-secondary;
}
