.section-content {
  width: 100%;
  padding: 0 0.75rem 0 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include bp-down(small) {
    padding: 0;
  }
}

.ascii {
  //color: $cl-text-secondary;
  line-height: 0.9;
  letter-spacing: -1px;
  word-spacing: 0px;
  font-size: 1rem;
  @include bp-down(medium) {
    font-size: 0.8rem;
  }
}
