.section-content {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ascii {
  //color: $cl-text-secondary;
  //font-weight: bold;
  line-height: 0.8;
  letter-spacing: -1px;
  word-spacing: 0px;
  font-size: 1rem;
}
